@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/Content/styles.css">

</head>
<body>
    <div class="container">
        <div>
            <h1 id="header1" class="header_text">Would you like to go on a date with me?</h1>
            @*<h1 id="header1" class="header_text">Header</h1>*@
        </div>
        <div id="HomeGif" class="gif_container">
            <img src="https://media0.giphy.com/media/eKDp7xvUdbCrC/giphy.gif" alt="Michael Scott GIF">
        </div>
        <div class="buttons">
            <button class="btn" id="yesButton" onclick="nextPage()">Yes, for sure!</button>
            <button class="btn" id="noButton" onmouseover="moveButton()" onclick="denialReason()">Umm... No</button>
            <script>
                function nextPage() {
                    $.ajax({
                        url: '@Url.Action("YesLogs", "Home")',
                        type: 'POST',
                        data: {button: 'Yes'},
                        success: function (result) {
                            console.log("Yes button clicked!");
                        },
                        error: function () {
                            console.log("Error logging the click.");
                        }
                    });

                    window.location.href = '@Url.Action("Yes", "Home")';
                }

                var counter = 0;
                function moveButton() {
                    if (counter < 10) {
                        var x = Math.random() * (window.innerWidth - document.getElementById('noButton').offsetWidth) - 85;
                        var y = Math.random() * (window.innerHeight - document.getElementById('noButton').offsetHeight) - 48;
                        document.getElementById('noButton').style.left = `${x}px`;
                        document.getElementById('noButton').style.top = `${y}px`;
                        counter ++;
                    }
                    else {
                        $('#header1').html('');
                        $('#header1').html("Okay fine, nothing forceful! Go ahead, click that 'NO' if you wish to :(");
                    }
                }

                function denialReason() {

                    $.ajax({
                        url: '@Url.Action("YesLogs", "Home")',
                        type: 'POST',
                        data: {button: 'No'},
                        success: function (result) {
                            console.log("No button clicked!");
                        },
                        error: function () {
                            console.log("Error logging the click.");
                        }
                    });

                    window.location.href = '@Url.Action("No", "Home")';
                    }
            </script>
        </div>
    </div>

</body>
</html>