
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LastPage</title>
    <link rel="stylesheet" href="~/Content/yes_style.css">

</head>
<body>
    <div id="LastPageGif" class="gif_container">
        <img src="https://media2.giphy.com/media/olBdekWxyAxA5hmvGF/giphy.gif" alt="Michael Scott Crying GIF">
    </div>
</body>
</html>
