<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/Content/yes_style.css">

</head>
<body>
    <div class="container">
        <div>
            <h1 class="header_text">Yaaayyyy!!</h1>
        </div>
        <div id="YesGif" class="gif_container">
            <img src="https://media0.giphy.com/media/DhstvI3zZ598Nb1rFf/giphy.gif" alt="Cute animated illustration">
        </div>
    </div>

</body>
</html>